/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;600&display=swap');

/* RESET BROWSER STYLE */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.3;
}

ol { 
	padding-left: 0;
	list-style: none
}

ul {
	padding-left: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 

a {
    text-decoration: none;
}

/* GENERAL STYLES */
html {
    position: relative;
}

html, body {
    font-size: 1.5vw;
}
@media (min-width: 1920px) {
    html, body {
        font-size: 30px;
    }
}

* {
    box-sizing: border-box;
    font-family: "Mukta", Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --neonBlue: #5863f8;
    --hardNeon: #373eac;
    --alphaNeonBlue: rgba(88, 99, 248, 0.2);
    --dark: #171D1C;
    --black: #303030;
    --gray: rgb(212, 206, 216);
    --mediumGray: rgb(186, 182, 189);
    --hardGray: #676767;
    --blue: #02a7fa;
    --lightblue: #00c4cc;
} 

.container {
    font-size: 0.85rem;
}

.container-medium {
    font-size: 0.75rem;
}

.container-short {
    font-size: 0.70rem;
}

.button {
    background-color: var(--neonBlue);
    color: white;
    font-weight: 600;
    height: 2em;
    border-radius: 1em;
    transition: all 0.2s ease-out 0s; 
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--black);
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

p, span, label, a, select {
    font-family: "Mukta", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: var(--hardGray);
}

input {
    color: var(--hardGray);
}

input:focus {
    outline: none;
}

span.icon {
    font-size: 1.1em;
    font-weight: 300;
}

span.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 0 2.5%; /*Padding equal to the main margin container*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 1789.5px) {
    header {
        padding: 0 calc((100vw - 1700px)*0.5); /*To be equal to the main margin container*/
    }
}

.home-link {
    display: flex;
    height: 100%;
    align-items: center;
}

.home-link img {
    height: 60%;
    margin-right: 5px;
}

header h2 {
    line-height: 70px;
}

.container-log-button {
    width: 9%;
    height: 100%;
    position: relative;
}

.log-button {
    background-color: white;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: calc((70px - 2em)/2);
    left: 0;
    line-height: 2em;
    color: var(--neonBlue);
}

/* If user is log out */
.white-header {
    background-color: white;
}

.white-header h2 {
    color: var(--neonBlue);
}

.white-header .log-button {
    border: 2px solid var(--neonBlue);
}

/* If user is log in */
.gradient-header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--neonBlue);
    background-image: linear-gradient(90deg, var(--lightblue), var(--neonBlue)); 
}

.gradient-header h2 {
    color: white;
}


/* SPINNER */
.spinner {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    justify-content: center;
  }
  
  .spinner > div {
    width: 25px;
    height: 25px;
    background-color: var(--neonBlue);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

/* LOADER */
.loader {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid var(--neonBlue);
    border-bottom: 6px solid var(--blue);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
}

  /* ERROR MESSAGES */
  .warning-container {
      position: absolute;
      width: 350px;
      height: 200px;
      top: calc(50% - (200px * .5));
      left: calc(50% - (350px * .5));
      background-color: white;
      padding: 25px 0 15px;
      border-radius: 8px;
      z-index: 1;
  }

  .warning-message-container {
      display: flex;
      justify-content: space-between;
      margin: 0 12px;
  }

  span.icon-error {
      font-size: 34px;
  }

  .warning-text, span.icon-error {
      color: rgb(173, 5, 5);
  }

  .warning-text {
    font-size: 23px;
  }

  .warning-button {
      position: absolute;
      bottom: 15px;
      right: 12px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      color: gray;
      background-color: white;
      border: 1px solid var(--mediumGray);
  }

/* LANDING CONTAINER */
.landing-container {
    max-width: 1700px;
    width: 95%;
    height: calc(100vh - 70px);
    max-height: 900px;
    margin: 0 auto;
    display: flex;
}

.landing-container h1 {
    color: var(--hardNeon);
}

.landing-container>div {
    flex: 1 0 0;
    height: 100%;
    display: flex;
}

.landing-entry-text-container {
    align-items: center;
    /*justify-content: center;*/
}

.landing-entry-text-container>div {
    width: 70%;
    margin-left: 50px;
}

.landing-text-subcontainer > * {
    margin-bottom: 10px;
}

.landing-text-subcontainer > *:last-child {
    margin: 0;
}

.landing-entry-button {
    display: inline-block;
    line-height: 2em;
    width: 35%;
    text-align: center;
}

.isometric-landing-container {
    justify-content: flex-end;
}

.isometric-landing-image {
    width: auto;
    height: 100%;
}

  /* LOGIN CONTAINER */
  .login-container {
      width: 100%;
      height: calc(100vh - 70px);
      padding-top: 35px;
  }

  .login-form {
      width: 390px;
      height: 280px;
      margin: 0 auto;
      margin-bottom: calc(100vh - 70px - 280px - 35px); /* all height screen - header - login height - padding */
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .login-form > * {
      margin-bottom: 14px;
  }

  .login-form div:last-child {
      margin-bottom: 0; 
  }

  .title-login-form {
      font-size: 37px;
  }

  .login-form div.login-input-container {
      width: 80%;
  }

  .login-input-container > span {
      display: block;
  }

  .login-input-container > span:first-child {
      font-size: 20px;
  }

  .login-input-container > span:last-child {
      font-size: 16px;
      color: red;
  }

  .login-input-container input {
      width: 100%;
      font-size: 20px;
  }

  .login-input-container:not(:last-child) input {
      border: 1px solid var(--mediumGray);
      border-radius: 4px;
  }

  .login-input-container:not(:last-child) input:focus {
      border: 1px solid var(--neonBlue);
  }

  .login-input-container input.button {
      border: none;
  }

/* MAIN CONTAINER */
.main-container {
    max-width: 1700px;
    width: 95%;
    height: calc(100vh - 70px - 70px);
    margin: 35px auto;
    display: flex;
    max-height: 829px;
}
@media (max-width: 1020px) {
    header {
        padding: 0 35px;
    }

    .landing-container {
        width: calc(100% - (35px*2));
    }

    .main-container {
        width: calc(100% - (35px*2));
        margin: 35px 35px;
 }
}

/* CALENDAR CONTAINER */
.calendar-container {
    width: 77%;
    height: 100%;
}

.calendar-header {
    color: var(--neonBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.date-select {
    color: var(--neonBlue);
    border: 2px solid var(--neonBlue);
    font-weight: 600;
    height: 1.92em;
    border-radius: 0.96em;
    padding-left: 10px;
    cursor: pointer;
}

.date-select:first-child {
    margin-right: 10px;
}

.arrow-month-container {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-min-month-container {
    width: auto;
}

.month-arrow-icon {
    font-size: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in 200ms;
    color: var(--neonBlue);
}

.month-arrow-icon:hover {
    background-color: var(--alphaNeonBlue);
}

.calendar-table {
    width: 100%;
    height: 90%;
    border: 1px solid var(--gray);
    border-collapse: collapse;
}

col.days-col {
    width: calc(100% / 7);
}

.calendar-table th, .calendar-table td {
    border: 1px solid var(--gray);
}

.calendar-table th {
    border-top: none
}

.calendar-table th {
    padding: 12px 0;
    font-weight: 600;
    text-align: center;
    color: var(--black);
}

.day-box {
    height: 100%;
    width: 100%;
    position: relative;
}

.day-box:hover {
    background-color: var(--alphaNeonBlue);
}

.day-num {
    display: inline-block;
    width: 20%;
    padding-left: 3px;
    margin-right: 80%;
}

.day-task-container {
    margin: 3px 2px;
    border-radius: 4px;
    padding-left: 2px;
}

.lightblue-task {
    background-color: var(--lightblue);
}

.neonblue-task {
    background-color: var(--neonBlue);
}

.day-task-title {
    font-size: 1em;
    color: white;
}

.plus-remaining-tasks {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 0.9em;
    color: var(--neonBlue);
}

span.today {
    background-color: var(--neonBlue);
    background-image: linear-gradient(135deg, var(--lightblue), var(--neonBlue));
    color: white;
    font-weight: 600;
}

td.active-day {
    border: 2px solid var(--neonBlue);
}

/* TASK LIST CONTAINER */
.task-container {
    width: 23%;
    height: 100%;
    padding: 0 10px;
}

.task-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 8px;
    border-bottom: 1px solid var(--gray);
}

.task-list-container {
    height: 90%;
    padding: 8px 8px 0;
}

.task-list-overflow {
    height: 90%;
    overflow: auto;
}

/* Task Container */
.task-description-container {
    margin: 0 8px;
    padding: 8px 0;
    border-bottom: 1px solid var(--gray);
    display: flex;
    align-items: flex-start;
}

.task-description-container:last-child {
    border-bottom: 0;
}

.dot-container {
    width: 12px;
    padding-right: 6px;
    height: 1.2em;
}

.dot-icon {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--neonBlue);
    display: inline-block;
}

.task-details-container {
    width: calc(100% - 12px);
}

.task-details-container span {
    color: var(--mediumGray);
    font-size: 14px;
}

.edit-delete-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.edit-delete-buttons span {
    font-size: 19px;
    color: white;
    padding: 5px;
    border-radius: 28px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out 0s; 
    cursor: pointer;
}

.edit-delete-buttons span:hover {
    transform: translateY(-3px);
}

.edit-button {
    background-color: var(--neonBlue);
    display: inline-block;
    margin-right: 10px;
}

.delete-button {
    background-color: var(--lightblue);
}

.task-button-container {
    height: 10%;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.button-task {
    display: flex;
    /*height: 100%;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.button-task span {
    color: white;
}

/* TASK FORM */
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.taskform-container {
    position: absolute;
    left: calc(50% - (450px * .5));
    top: calc(50% - (415px * .5));
    width: 450px;
    height: 415px;
    background-color: white;
    border-radius: 10px;
    padding: 45px 0 15px 0;
}

.app-icon {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    position: absolute;
    top: -45px;
    left: calc((450px - 90px)/2);
    
    /*background-image: url(../img/calendar-icon3.png),
                      linear-gradient(135deg, var(--lightblue), var(--neonBlue));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px auto,
                     100% 100%;*/
}

.taskform {
    height: 100%;
    margin: 0 15px;
    padding: 1px 0;
}

.taskform .input-container {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input-container .add-title {
    height: 32px;
    font-size: 28px;
}

.input-icons {
    font-size: 20px;
    color: gray;
    display: inline-block;
    margin-right: 5px;
}

.input-box {
    width: 30%;
}

.input-border {
    width: 0px;
    border-bottom: 2px solid var(--neonBlue);
    transition: all 250ms linear;
}

.taskform-input {
    border: 0;
    border-bottom: 1px solid var(--gray);
    outline: none;
    width: 100%;
    font-size: 17px;
    color: rgb(97 97 97);
}

.taskform input:focus {
    border-bottom: 0;
}

.taskform input:focus + .input-border {
    width: 100%;
    border-bottom: 2px solid var(--neonBlue);
}

/* Mini Calendar */
.min-calendar-container, .time-select, .repeat-select-options {
    position: absolute;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    left: 40px;
    z-index: 1;
}

#end-select {
    left: calc(40px + 30% + 10px); /* icon width + start input time width + line width */
}

.min-calendar-container {
    width: 63%;
    height: 57%;
    background-color: white;
    padding: 5px 5px;
    position: absolute;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


div.mincalendar-container {
    width: 100%;
}

.min-calendar-select select {
    font-size: 14px;
    padding-left: 5px;
    border: 1px solid var(--neonBlue);
}

.min-calendar-select .date-select:first-child {
    margin-right: 3px;
}

.min-calendar-header {
    height: 14%;
}

.min-calendar-header .month-arrow-icon {
    font-size: 21px;
}

.min-calendar-container th {
    padding: 8px 0;
}

/* Time Select */
.time-select, .repeat-select-options {
    font-size: 15.5px;
    width: 36%;
    background-color: white;
    max-height: 38%;
    overflow-y: scroll;
    cursor: pointer;
    color: rgb(97 97 97);
}

.start-time-option, .repeat-option-value {
    padding: 5px 0;
}

.start-time-option span {
    font-size: 17px;
    color: rgb(97 97 97);
}

.start-time-option:hover, .repeat-option-value:hover {
    background-color: var(--alphaNeonBlue);
}

/* Repeat select */
.selected-value {
    font-size: 17px;
    color: rgb(97 97 97);
    display: flex;
    align-items: center;
    border-radius: 1em;
    height: 2em;
    padding: 0 8px;
    transition: all 250ms cubic-bezier(1, 0.62, 0.62, 0.65);;
    cursor: pointer;
}

.selected-value:hover {
    background-color: var(--alphaNeonBlue);
}

.selected-value:hover span {
    color: var(--neonBlue);
}

.onclick-select {
    background-color: var(--alphaNeonBlue);
}

.onclick-select span {
    color: var(--neonBlue);
}

.repeat-select-options {
    width: 57%;
    max-height: 32%;
    bottom: 11.5%;
}

/* Buttons */
.button-container {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 30px);;
}

.save-button, .cancel-button {
    width: 25%;
    color: white;
    border-bottom: 0;
}

.save-button {
    margin-right: 10px;
}

.cancel-button {
    background-color: var(--lightblue);
}
