/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;600&display=swap');

/* RESET BROWSER STYLE */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.3;
}

ol { 
	padding-left: 0;
	list-style: none
}

ul {
	padding-left: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 

a {
    text-decoration: none;
}

/* GENERAL STYLES */
html {
    position: relative;
}

html, body {
    font-size: 1.5vw;
}
@media (min-width: 1920px) {
    html, body {
        font-size: 30px;
    }
}

* {
    box-sizing: border-box;
    font-family: "Mukta", Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --neonBlue: #5863f8;
    --alphaNeonBlue: rgba(88, 99, 248, 0.2);
    --dark: #171D1C;
    --gray: rgb(212, 206, 216);
    --lightGray: #f3f3f3;
    --lightblue: #00c4cc;
} 

.container {
    font-size: 0.85rem;
}

.container-medium {
    font-size: 0.75rem;
}

.container-short {
    font-size: 0.70rem;
}

.button {
    background-color: var(--neonBlue);
    color: white;
    font-weight: 600;
    height: 2em;
    border-radius: 1em;
    transition: all 0.2s ease-out 0s; 
}

.button:hover {
    transform: translateY(-3px);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--dark);
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

p, span, label, a, select {
    font-family: "Mukta", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

span.icon {
    font-size: 1.1em;
    font-weight: 300;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 0 2.5%; /*Padding equal to the main margin container*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--neonBlue);
    background-image: linear-gradient(90deg, var(--lightblue), var(--neonBlue));
}
@media (min-width: 1789.5px) {
    header {
        padding: 0 calc((100vw - 1700px)*0.5); /*To be equal to the main margin container*/
    }
}

header h2 {
    line-height: 70px;
    color: white;
}

.container-log-button {
    width: 9%;
    height: 100%;
    position: relative;
}

.log-button {
    background-color: white;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: calc((70px - 2em)/2);
    left: 0;
    line-height: 2em;
    color: var(--neonBlue);
}

/* MAIN CONTAINER */
.main-container {
    max-width: 1700px;
    width: 95%;
    height: calc(100vh - 70px - 70px);
    margin: 35px auto;
    display: flex;
}
@media (max-width: 1020px) {
    header {
        padding: 0 35px;
    }

    .main-container {
        width: calc(100% - (35px*2));
        margin: 35px 35px;
 }
}

/* CALENDAR CONTAINER */
.calendar-container {
    width: 77%;
    height: 100%;
}

.calendar-header {
    color: var(--neonBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.date-select {
    color: var(--neonBlue);
    border: 2px solid var(--neonBlue);
    font-weight: 600;
    height: 1.92em;
    border-radius: 0.96em;
    padding-left: 10px;
    cursor: pointer;
}

.date-select:first-child {
    margin-right: 10px;
}

.arrow-month-container {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-min-month-container {
    width: auto;
}

.month-arrow-icon {
    font-size: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in 200ms;
}

.month-arrow-icon:hover {
    background-color: var(--alphaNeonBlue);
}

.calendar-table {
    width: 100%;
    height: 90%;
    border: 1px solid var(--gray);
    border-collapse: collapse;
}

col.days-col {
    width: calc(100% / 7);
}

.calendar-table th, .calendar-table td {
    border: 1px solid var(--gray);
}

.calendar-table th {
    border-top: none
}

.calendar-table th {
    padding: 12px 0;
    font-weight: 600;
    text-align: center;
}

.day-box {
    height: 100%;
    width: 100%;
}

.day-box:hover {
    background-color: var(--alphaNeonBlue);
}

.day-box span {
    display: inline-block;
    width: 20%;
    padding-left: 3px;
    margin-right: 80%;
}

span.today {
    background-color: var(--neonBlue);
    background-image: linear-gradient(135deg, var(--lightblue), var(--neonBlue));
    color: white;
    font-weight: 600;
}

td.active-day {
    border: 2px solid var(--neonBlue);
}

/* TASK CONTAINER */
.task-container {
    width: 23%;
    height: 100%;
    padding: 0 10px;
}

.task-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 8px;
    border-bottom: 1px solid rgb(143, 143, 142);
}

.task-list-container {
    height: 90%;
    padding: 8px 8px 0;
}

.task-list-overflow {
    height: 90%;
    overflow: auto;
}

.task-button-container {
    height: 10%;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.button-task {
    display: flex;
    /*height: 100%;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*@media(min-height: 700px) {
    .button-task {
        position: absolute;
        bottom: 0;
        height: 39px;
        border-radius: 19.5px;
    }
}*/

/* TASK FORM */
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.taskform-container {
    position: absolute;
    left: calc(50% - (450px * .5));
    top: calc(50% - (415px * .5));
    width: 450px;
    height: 415px;
    background-color: white;
    border-radius: 10px;
    padding: 45px 0 15px 0;
}

.app-icon {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    position: absolute;
    top: -45px;
    left: calc((450px - 90px)/2);
    
    /*background-image: url(../img/calendar-icon3.png),
                      linear-gradient(135deg, var(--lightblue), var(--neonBlue));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px auto,
                     100% 100%;*/
}

.taskform .close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.taskform {
    height: 100%;
    margin: 0 15px;
    padding: 1px 0;
}

.taskform .input-container {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input-container .add-title {
    height: 32px;
    font-size: 28px;
}

.input-icons {
    font-size: 20px;
    color: gray;
    display: inline-block;
    margin-right: 5px;
}

.input-box {
    width: 30%;
}

.input-border {
    width: 0px;
    border-bottom: 2px solid var(--neonBlue);
    transition: all 250ms linear;
}

.taskform input {
    border: 0;
    border-bottom: 1px solid var(--gray);
    outline: none;
    width: 100%;
    font-size: 17px;
    color: rgb(97 97 97);
}

.taskform input:focus {
    border-bottom: 0;
}

.taskform input:focus + .input-border {
    width: 100%;
    border-bottom: 2px solid var(--neonBlue);
}

/* Mini Calendar */
.min-calendar-container, .time-select {
    position: absolute;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    left: 40px;
}

#end-select {
    left: calc(40px + 30% + 10px); /* icon width + start input time width + line width */
}

.min-calendar-container {
    width: 63%;
    height: 57%;
    background-color: white;
    padding: 5px 5px;
    position: absolute;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


div.mincalendar-container {
    width: 100%;
}

.min-calendar-select select {
    font-size: 14px;
    padding-left: 5px;
    border: 1px solid var(--neonBlue);
}

.min-calendar-select .date-select:first-child {
    margin-right: 3px;
}

.min-calendar-header {
    height: 14%;
}

.min-calendar-header .month-arrow-icon {
    font-size: 21px;
}

.min-calendar-container th {
    padding: 8px 0;
}

/* Time Select */
.time-select {
    font-size: 15px;
    width: 36%;
    background-color: white;
    max-height: 38%;
    overflow-y: scroll;
    cursor: pointer;
}

.start-time-option  {
    padding: 5px 0;
}

.start-time-option span {
    font-size: 17px;
    color: rgb(97 97 97);
}

.start-time-option:hover {
    background-color: var(--alphaNeonBlue);
}
